[Unit]
Description=Hello Code Display
After=network.target

[Service]
Type=simple
User=pi_penguin
WorkingDirectory=/home/pi_penguin/randomcode
ExecStart=/home/pi_penguin/.virtualenvs/randomenv/bin/python /home/pi_penguin/randomcode/pull-random.py
Restart=on-failure

[Install]
WantedBy=multi-user.target